force-app/main/default/flows/Create_Share_record_on_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>ShareValue</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Shares__c}*50</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Create Share record on COntact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Share record on Contact Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Share_Record</name>
        <label>Create Share Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Share_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Bought_Date__c</field>
            <value>
                <elementReference>$Record.JoinedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactName__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>INITIAL SHARE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharesCount__c</field>
            <value>
                <elementReference>$Record.Total_Shares__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shares__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Share_Value</name>
        <label>Contact - Update Share Value</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Share_Value__c</field>
            <value>
                <elementReference>ShareValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Share_Record</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
