force-app/main/default/flows/Expense_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Category</name>
        <label>Assign Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expense_Repay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Income_Assignment</name>
        <label>Income Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomeType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expense_Repay</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Donation</name>
        <choiceText>Donation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Donation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Donation_Receipte</name>
        <choiceText>{!Donation}Receipte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!Donation}Receipte</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXP</name>
        <choiceText>EXP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EXP</stringValue>
        </value>
    </choices>
    <choices>
        <name>GBE</name>
        <choiceText>GBE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> GBE </stringValue>
        </value>
    </choices>
    <choices>
        <name>OE</name>
        <choiceText>OE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid</name>
        <choiceText>Paid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid_Late</name>
        <choiceText>Paid Late</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid Late</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid_On_Time</name>
        <choiceText>Paid On Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid On Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>Receipt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receipt</stringValue>
        </value>
    </choices>
    <choices>
        <name>TE</name>
        <choiceText>TE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> TE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upcoming</name>
        <choiceText>Upcoming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upcoming</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Income_or_Expense</name>
        <label>Income or Expense</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncomeOrExpense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Income</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Income_Assignment</targetReference>
            </connector>
            <label>Income</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contact4Expense</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Loan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Expense Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Expense_Repay</name>
        <label>Expense (Repay)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>IncomeOrExpense</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_To__c</field>
            <value>
                <elementReference>Spent_By.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PyamentDate__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId4LoanRepay.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Amount__c</field>
            <value>
                <elementReference>amount_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>PaymentStatus1</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getRecordTypeId4LoanRepay</name>
        <label>getRecordTypeId4LoanRepay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Income_or_Expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expenses</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Expenses</name>
        <label>Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecordTypeId4LoanRepay</targetReference>
        </connector>
        <fields>
            <name>Expenses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Expenses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>today</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>amount_number</name>
                    <dataType>Number</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>IncomeType</name>
                    <choiceReferences>Donation</choiceReferences>
                    <choiceReferences>Receipt</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Donation</defaultSelectedChoiceReference>
                    <fieldText>Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IncomeOrExpense</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Income</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExpenseType</name>
                    <choiceReferences>OE</choiceReferences>
                    <choiceReferences>GBE</choiceReferences>
                    <choiceReferences>TE</choiceReferences>
                    <choiceReferences>EXP</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>EXP</defaultSelectedChoiceReference>
                    <fieldText>Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IncomeOrExpense</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Expense</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Expenses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spent_By</name>
                    <choiceReferences>Contact4Expense</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Spent By</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PaymentStatus1</name>
                    <choiceReferences>Paid_On_Time</choiceReferences>
                    <choiceReferences>Paid_Late</choiceReferences>
                    <choiceReferences>Upcoming</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Paid_On_Time</defaultSelectedChoiceReference>
                    <fieldText>Payment Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <fieldText>&lt;p&gt;{!IncomeOrExpense}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expenses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeOrExpense</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
