force-app/main/default/flows/InstallemtFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Status_to_Due</name>
        <label>Assign Account Status to Due</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Account_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Status_to_InProgress</name>
        <label>Assign Account Status to InProgress</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Account_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Late</name>
        <label>Closed Late</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Account_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Late</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_On_Time</name>
        <label>Closed On Time</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Account_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed On Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Assignments</name>
        <label>Payment Date, Loan Balance</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Installment_Details.PyamentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentDateT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Details.Balance_Loan__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Installment_Amount_Paying</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InstallmentUpdating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaidLate</name>
        <label>PaidLate</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Installment_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Late</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaidOnTime</name>
        <label>PaidOnTime</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Installment_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid On Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_OverDue</name>
        <label>Status = OverDue</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Account_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>* If no other Due / Over Due Record is present, Status should be In Progress
* If No other Upcoming records also present, Status should be Cloused</description>
        <name>Account_Status_Desisioning</name>
        <label>Account Status Decisioning</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - Close</defaultConnectorLabel>
        <rules>
            <name>Upcoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Installment.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upcoming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Status_to_InProgress</targetReference>
            </connector>
            <label>Upcoming</label>
        </rules>
        <rules>
            <name>Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Installment.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Status_to_Due</targetReference>
            </connector>
            <label>Due</label>
        </rules>
        <rules>
            <name>OverDue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Installment.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OverDue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_OverDue</targetReference>
            </connector>
            <label>OverDue</label>
        </rules>
        <rules>
            <name>If_No_Next_Installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Installment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Time</targetReference>
            </connector>
            <label>If No Next Installment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Time</name>
        <label>Closed Time</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>ClosedOnTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentDateT</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Installement_Due_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_On_Time</targetReference>
            </connector>
            <label>Closed On Time</label>
        </rules>
        <rules>
            <name>ClosedLate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentDateT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Installement_Due_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Late</targetReference>
            </connector>
            <label>Closed Late</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Or_OverDue</name>
        <label>Due Or OverDue</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PaidOnTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Late</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentDateT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Installment_Details.Repay_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaidLate</targetReference>
            </connector>
            <label>Paid Late</label>
        </rules>
    </decisions>
    <description>Introduced Closed On time and Closed Late for Loan Account Records</description>
    <environments>Default</environments>
    <formulas>
        <name>PreInstallmentDate</name>
        <dataType>Date</dataType>
        <expression>({!Installment_Details.Repay_Date__c} - 25 )</expression>
    </formulas>
    <formulas>
        <name>TodayDateFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>InstallemtFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InstallemtFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Installment_Details</name>
        <label>Installment Details</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_Screen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OverDue</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <sortField>Repay_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To update the Account stauts</description>
        <name>Next_Installment</name>
        <label>Next Installment</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Status_Desisioning</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>( 1 OR 2 OR 3 ) AND 4 AND 5</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OverDue</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Installment_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <sortField>Repay_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>InstallmentUpdating</name>
        <label>Installment Payment Update</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Next_Installment</targetReference>
        </connector>
        <inputReference>Installment_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <inputReference>Account_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Error with the Saving.</stringValue>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installment_Screen</name>
        <label>Installment Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Due_Or_OverDue</targetReference>
        </connector>
        <fields>
            <name>PaymentDateT</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayDateFormula</elementReference>
            </defaultValue>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Please select Date Between - &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 11px;&quot;&gt;&lt;em&gt;{!PreInstallmentDate}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 11px;&quot;&gt; &amp;amp; &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 11px;&quot;&gt;&lt;em&gt;{!TodayDateFormula}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!PaymentDateT} &gt;({!Installement_Due_Date}-25) &amp;&amp; {!PaymentDateT} &lt;= {!TodayDateFormula}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Installement_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Installment_Details.Repay_Date__c</elementReference>
            </defaultValue>
            <fieldText>Installment Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installment_Amount_Paying</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Installment_Details.Repay_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Installment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Pay Installment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InstallmentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TodayDateFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
</Flow>
