force-app/main/default/flows/InstallemtFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>PaidLate</name>
        <label>PaidLate</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Installment_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Late</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InstallmentUpdating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaidOnTime</name>
        <label>PaidOnTime</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Installment_Details.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid On Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InstallmentUpdating</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Due_Or_OverDue</name>
        <label>Due Or OverDue</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PaidOnTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Late</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment_Details.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OverDue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaidLate</targetReference>
            </connector>
            <label>Paid Late</label>
        </rules>
    </decisions>
    <formulas>
        <name>TodayDateFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>InstallemtFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InstallemtFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Installment_Details</name>
        <label>Installment Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installment_Screen</targetReference>
        </connector>
        <filters>
            <field>Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OverDue</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <sortField>Repay_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>InstallmentUpdating</name>
        <label>InstallmentUpdating</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputReference>Installment_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Installment_Screen</name>
        <label>Installment Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Due_Or_OverDue</targetReference>
        </connector>
        <fields>
            <name>TodayDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayDateFormula</elementReference>
            </defaultValue>
            <fieldText>TodayDate</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Installement_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Installment_Details.Repay_Date__c</elementReference>
            </defaultValue>
            <fieldText>Installment Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installment_Amount_Paying</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Installment_Details.Repay_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Installment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InstallmentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
</Flow>
