force-app/main/default/flows/NN_Interest_Pay_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Paid_To_Picklist_Default</name>
        <label>Assign Paid To Picklist Default</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Interest_Details.Paid_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Type</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Loan_Type</name>
        <label>Loan Type</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loan_Type_is_not_Annual_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annual_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Details.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_or_Yearly</targetReference>
            </connector>
            <label>Annual Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_or_Yearly_1st_or_not</name>
        <label>Monthly or Yearly | 1st or not</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntDueDateMonthFromLoan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interest_Details.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_Month_Interest_Paid</targetReference>
            </connector>
            <label>1st Month</label>
        </rules>
        <rules>
            <name>Next_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntDueDateMonthFromInt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Month_Interest_Paid</targetReference>
            </connector>
            <label>Next Month</label>
        </rules>
        <rules>
            <name>X1st_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntDueDateYearFromLoan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interest_Details.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_Year_Interest_Paid</targetReference>
            </connector>
            <label>1st Year</label>
        </rules>
        <rules>
            <name>Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntDueDateYearFromInt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Year_Interest_Paid</targetReference>
            </connector>
            <label>Next Year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IntDueDateMonthFromInt</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Interest_Details.Repay_Date__c},1)</expression>
    </formulas>
    <formulas>
        <description>Interest Due monthly from Loan Start Date</description>
        <name>IntDueDateMonthFromLoan</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Account_Details.Loan_Date__c},1)</expression>
    </formulas>
    <formulas>
        <name>IntDueDateYearFromInt</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Interest_Details.Repay_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>IntDueDateYearFromLoan</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Account_Details.Loan_Date__c},12)</expression>
    </formulas>
    <formulas>
        <description>Variable to calculate Monthly Interest About</description>
        <name>MonthlyInterestAmount</name>
        <dataType>Number</dataType>
        <expression>{!Account_Details.Balance__c} * 0.24/12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PreInstallmentDate</name>
        <dataType>Date</dataType>
        <expression>({!Interest_Details.Repay_Date__c} - 25 )</expression>
    </formulas>
    <formulas>
        <name>TodayDateFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>YearlyInterestAmount</name>
        <dataType>Number</dataType>
        <expression>{!Account_Details.Balance__c}*0.24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NN Interest Pay Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NN Interest Pay Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Next_Month_Interest_Paid</name>
        <label>Next Month Interest Paid</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PyamentDate__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Amount__c</field>
            <value>
                <elementReference>MonthlyInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Date__c</field>
            <value>
                <elementReference>IntDueDateMonthFromInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Paid On Time</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Next_Year_Interest_Paid</name>
        <label>Next Year Interest Paid</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PyamentDate__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Amount__c</field>
            <value>
                <elementReference>YearlyInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Date__c</field>
            <value>
                <elementReference>IntDueDateYearFromInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Paid On Time</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X1st_Month_Interest_Paid</name>
        <label>1st Month Interest Paid</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PyamentDate__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Amount__c</field>
            <value>
                <elementReference>MonthlyInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Date__c</field>
            <value>
                <elementReference>IntDueDateMonthFromLoan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Paid Late</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X1st_Year_Interest_Paid</name>
        <label>1st Year Interest Paid</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PyamentDate__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Amount__c</field>
            <value>
                <elementReference>YearlyInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repay_Date__c</field>
            <value>
                <elementReference>IntDueDateYearFromLoan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Paid Late</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interest_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Interest_Details</name>
        <label>Interest Details</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Paid_To_Picklist_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <inputReference>Account_Details</inputReference>
    </recordUpdates>
    <screens>
        <description>Error Screen</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ErrorScreen&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Type_is_not_Annual_Loan</name>
        <label>Loan Type is not Annual Loan</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;&lt;u&gt;Dood, as per the rule, you can only create an interest record to Annual Loan&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Monthly_or_Yearly</name>
        <label>Monthly or Yearly</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Monthly_or_Yearly_1st_or_not</targetReference>
        </connector>
        <fields>
            <name>Monthly_or_Yearly_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Monthly_or_Yearly_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Amount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Account_Details.Loan_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monthly_or_Yearly_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Balance_Loan</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Account_Details.Balance__c</elementReference>
                    </defaultValue>
                    <fieldText>Balance Loan</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monthly_or_Yearly_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Account_Details.Loan_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Loan Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interest_Details.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Interest_Paid_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Interest_Details.Repay_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Interest Paid Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interest_Details.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Monthly_or_Yearly_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Monthly_or_Yearly_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisFrmLoan</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;Monthly Interest of&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 110, 255); font-size: 16px;&quot;&gt; ₹{!MonthlyInterestAmount}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;  for Due date  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(102, 145, 255); font-size: 14px;&quot;&gt;{!IntDueDateMonthFromLoan}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Yearly Interest of&lt;/strong&gt;&lt;strong style=&quot;color: rgb(34, 60, 255); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; ₹{!YearlyInterestAmount} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;for Due date  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(117, 147, 255); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!IntDueDateYearFromLoan}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interest_Details.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisFromInt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;Monthly Interest of&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 110, 255); font-size: 16px;&quot;&gt; ₹{!MonthlyInterestAmount}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;  for Due date  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(102, 145, 255); font-size: 14px;&quot;&gt;{!IntDueDateMonthFromInt}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;Yearly Interest of&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(34, 60, 255); font-size: 16px;&quot;&gt; ₹{!YearlyInterestAmount} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;for Due date  &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(117, 147, 255); font-size: 14px;&quot;&gt;{!IntDueDateYearFromInt}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interest_Details.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monthly_or_Yearly_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonthlyOrYearly</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yearly : {!YearlyInterestAmount}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Monthly : {!MonthlyInterestAmount}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Monthly or Yearly?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Payment_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayDateFormula</elementReference>
                    </defaultValue>
                    <fieldText>Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Monthly_or_Yearly_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Monthly_or_Yearly_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisMonthPay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 71, 71); font-size: 14px;&quot;&gt;Monthly Interest of&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 71, 71); font-size: 16px;&quot;&gt; ₹{!MonthlyInterestAmount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 71, 71); font-size: 14px;&quot;&gt;is being paid on {!Payment_Date}.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisYearPay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 71, 71);&quot;&gt;Yearly Interest of &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 71, 71);&quot;&gt;₹{!YearlyInterestAmount} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 71, 71);&quot;&gt;is being paid on {!Payment_Date}.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MonthlyOrYearly.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monthly_or_Yearly_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Interest_Details.Paid_To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Pay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InstallmentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TodayDateFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
</Flow>
